div#synapse-tree * {
	margin :0;
	padding: 0;
	border: 0;
	text-shadow: none;
}
div#synapse-tree ul.treeview-contents {
	margin: 0;
	padding: 0;
	margin-top: 2px;
	display: none;
}
div#synapse-tree ul.treeview-contents li.treeview-entity {
	display: relative;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}
div#synapse-tree ul.treeview-contents li.treeview-entity p.treeview-row {
	display: inline-block;
	width: 100%;
	height: 19px;
	line-height: 13px;
	box-sizing: content-box;
	padding-top:3px;
	padding-bottom: 3px;
}
div#synapse-tree ul.treeview-contents li.treeview-entity p.treeview-row input#synapse-treeview-rename-editor {
	background: none;
	font-size: 13px;
	color: #fff;
	line-height: 19px;
	padding: 2px;
	border: 0;
	outline: 2px solid #3591d9;
}
div#synapse-tree:not(.disabled) ul.treeview-contents li p.treeview-row:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}
div#synapse-tree ul.treeview-contents i.fa {
	display: inline-block;
	line-height: 13px;
	height: 19px;
	padding: 3px;
	width: 1em;
	margin-left: 7px;
}




#synapse .synapse-treeview-alert {
	position: absolute;
	left: 0;
	width: 100%;
	height: auto;
	padding: 20px;
	opacity: 0;
	background-color: rgba(168, 35, 35, 0.95);
}
#synapse .synapse-treeview-alert p.title {
	text-shadow: 0 0 5px #000;
	color: #fff;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: bold;
}
#synapse .synapse-treeview-alert p.caption {
	color: #a3a3a3;
}

